/**
 * Styles for mana symbol svgs
 */

abbr.mtg-abbreviation {
    display: inline-block;
    position: relative;
}
img.mtg-symbol {
    position: relative;
    bottom: .05em;
    height: .9em;
    margin: 0 .1em;
}

/**
 * Styles for oracle text effects
 */
.mtg-reminder-text {
    font-style: italic;
}